*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
}
.form{
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 16px;
    background-color: #fff;
}

h1{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

form{
    margin-top: 30px;
}
form .field{
    position: relative;
    width: 100%;
    height: 45px;
    margin-top: 20px;
}

.field input,
.field-button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
}

.field input {
    padding: 0 15px;
    border: 1px solid #CACACA;
    outline: none;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}
.form-link span, .form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
    text-transform: capitalize;
}

.form a{
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.wraper {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    position: absolute;
    cursor: pointer;
    padding: 5px;
}



















